html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 16px;
}

.item {
  background: #4a90e2;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.query {
  grid-column: span 4;
  background: #50e3c2;
}

.table {
  grid-column: span 4;
  grid-row: span 3;
  background: #ff9500;
  display: flex;
  align-items:flex-start;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}
th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #4a90e2;
  color: white;
}
tr:nth-child(even) {
  background-color: #e8aaaa;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .query,
  .table {
    grid-column: span 1;
    grid-row: auto;
  }
}
